body {
    margin-top: 6rem;
}

.challenge__container {
    width: 60%;
    margin: auto;
}

.challenge__header {
    margin-bottom: 3rem;
}

#guessInput {
    font-size: 2rem;
}

#guessButton {
    font-size: 2rem;
}

#resetButton {
    font-size: 2rem;
}